{% if site.formspree.endpoint %}
<div class="ap-form-container">
    <form action="{{site.formspree.endpoint}}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="full name">
        <label for="email">Email</label>
        <input type="email" name="_replyto" id="email" placeholder="email address">
        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" placeholder="subject">
        <label for="description">Message</label>
        <textarea name="body" id="message" placeholder="your message" rows="5"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>
{% endif %}