---
layout: default
---
<div class="ap-career-objective ap-career-objective-md">
    {{ site.career-objective | markdownify }}
</div>

{% if site.collection_option['education']['visibility'] == true %}
<div class="ap-line"></div>
<!-- EDUCATION -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['education']['label']}}</p>
    {% assign sorted_education = site.education | sort: "order" %}
    {% for education in sorted_education %}
    <div class="ap-education">
        <p class="ap-education-degree">{{education.degree}}</p>
        <p class="ap-education-institute">{{education.institute}}</p>
        <p class="ap-education-year">{{education.duration}}</p>
        <div class="ap-education-excerpt">{{education.excerpt | markdownify}}</div>
    </div>
    {% endfor %}

{% if site.collection_option['publications']['visibility'] == true %}
<div class="ap-line"></div>
<!-- PUBLICATIONS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['publications']['label']}}</p>
    {% assign sorted_publications = site.publications | sort: "order" %}
    {% for publication in sorted_publications reversed %}
    <div class="ap-publication">
        <a class="ap-publication-title" href="{{publication.pub-url}}">{{publication.title}}</a>
        <div class="ap-publication-authors">{{publication.authors | markdownify}}</div>
        <p class="ap-publication-year">{{publication.year}}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['research_experience']['visibility'] == true %}
<div class="ap-line"></div>
<!-- RESEARCH EXPERIENCE -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['research_experience']['label']}}</p>
    {% assign sorted_research = site.research_experience | sort: "order" %}
    {% for experience in sorted_research %}
    <div class="ap-experience">
        <p class="ap-experience-title">{{experience.title}}, <a href="{{experience.institute-url}}">{{experience.institute}}</a></p>
        <p class="ap-experience-year">{{experience.duration}}</p>
        <div class="ap-experience-excerpt">{{experience.excerpt | markdownify}}</div>
        <p class="ap-experience-tags">
            {% for tag in experience.tags %}
            <span class="ap-experience-chip">{{tag}}</span>
            {% endfor %}
        </p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['teaching_experience']['visibility'] == true %}
<div class="ap-line"></div>
<!-- RESEARCH EXPERIENCE -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['teaching_experience']['label']}}</p>
    {% assign sorted_research = site.teaching_experience | sort: "order" %}
    {% for experience in sorted_research %}
    <div class="ap-experience">
        <p class="ap-experience-title">{{experience.title}}, <a href="{{experience.institute-url}}">{{experience.institute}}</a></p>
        <p class="ap-experience-year">{{experience.duration}}</p>
        <div class="ap-experience-excerpt">{{experience.excerpt | markdownify}}</div>
        <p class="ap-experience-tags">
            {% for tag in experience.tags %}
            <span class="ap-experience-chip">{{tag}}</span>
            {% endfor %}
        </p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['work_experience']['visibility'] == true %}
<div class="ap-line"></div>
<!-- WORK EXPERIENCE -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['work_experience']['label']}}</p>
    {% assign sorted_work = site.work_experience | sort: "order" %}
    {% for experience in sorted_work %}
    <div class="ap-experience">
        <p class="ap-experience-title">{{experience.title}}, <a href="{{experience.institute-url}}">{{experience.institute}}</a></p>
        <p class="ap-experience-year">{{experience.duration}}</p>
        <div class="ap-experience-excerpt">{{experience.excerpt | markdownify}}</div>
        <p class="ap-experience-tags">
            {% for tag in experience.tags %}
            <span class="ap-experience-chip">{{tag}}</span>
            {% endfor %}
        </p>
    </div>
    {% endfor %}
</div>
{% endif %}

</div>
{% endif %}

{% if site.collection_option['skills']['visibility'] == true %}
<div class="ap-line"></div>
<!-- SKILLS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['skills']['label']}}</p>
    {% assign sorted_skills = site.skills | sort: "order" %}
    {% for skill in sorted_skills %}
    <div class="ap-skill">
        <p class="ap-skill-category">{{skill.category}}</p>
        <p class="ap-skill-tags">
            {% for tag in skill.tags %}
            <span class="ap-skill-chip">{{tag}}</span>
            {% endfor %}
        </p>
    </div>
    {% endfor %}
</div>
{% endif %}
